<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Local css -->
    <link rel="stylesheet" href="./css/style.css" />
    {{#if user.isLoggedIn}}
    <link rel="stylesheet" href="./css/profile.css" />
    {{/if}}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet" />
    <title>ShareAll</title>
</head>

<body>
    <!-- navbar section -->
    <nav class="mynavbar" id="navbar">
        <div class="left">
            <img src="./img/logo.svg" />
            <h1 class="logoname">ShareAll</h1>
        </div>
        <div class="right">
            {{#if user.isLoggedIn}}
            <div id="usercircle" class="usercircle" href="" data-toggle="modal" data-target="#modalRegisterForm">
                {{user.initial}}
            </div>
            <form class="DN" action="/api/profile/logout" method="post">
                <button class="button greenbtn">Logout</button>
            </form>
            {{else}}
            <div class="button orangebtn" href="" data-toggle="modal" data-target="#modalRegisterForm">
                Signup
            </div>
            <div class="button greenbtn" href="" data-toggle="modal" data-target="#modalLoginForm" login_div>
                Login
            </div>
            <!-- register form -->
            <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/api/auth/register" method="POST">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <i class="fas fa-user prefix grey-text"></i>
                                    <input type="text" id="orangeForm-name" class="form-control" name="name" />
                                    <label for="orangeForm-name">Your name</label>
                                </div>
                                <div class="md-form mb-5">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="email" id="orangeForm-email" class="form-control" name="email" />
                                    <label for="orangeForm-email">Your email</label>
                                </div>

                                <div class="md-form mb-4">
                                    <i class="fas fa-lock prefix grey-text"></i>
                                    <input type="password" id="orangeForm-pass" class="form-control" name="password" />
                                    <label for="orangeForm-pass">Your password</label>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button id="signupsubmit" type="submit" class="btn btn-deep-orange">
                                    Sign up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- login form -->
            <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/api/auth/login" method="post">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Log in</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="email" id="defaultForm-email" class="form-control" name="email" />
                                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your
                                        email</label>
                                </div>

                                <div class="md-form mb-4">
                                    <i class="fas fa-lock prefix grey-text"></i>
                                    <input type="password" id="defaultForm-pass" class="form-control" name="password" />
                                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your
                                        password</label>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button id="loginsubmit" type="submit" class="btn btn-default">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </nav>
    <!-- main section -->
    <section class="maincontent">
        <!-- usercircle dropdown -->
        <div id="dropdown-menu" class="dropbox shadow dN">
            <div class="usercircle">{{user.initial}}</div>
            <div class="dropbox-content">
                <p class="username">{{user.name}}</p>
                <div class="dropbox-btn">
                    <div>Profile</div>
                    <form action="/api/profile/logout" method="post">
                        <button class="logout-btn">Logout</button>
                    </form>
                </div>
            </div>
        </div>
        {{{body}}}
    </section>
</body>
<script type="text/javascript" src="./js/uievents.js"></script>
{{#if user.isLoggedIn}}
<!-- socket.io -->
<script type="text/javascript" src="./js/profile.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="./js/socketconfig.js"></script>
<script type="text/javascript" src="./js/fileshareconnection.js"></script>
{{/if}}
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>

</html>